<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Appenders
     전달 받은 로그를 어디에 출력할지 결정한다.
    -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder> <!--appender 에 포함되어 출력할 로그의 형식 지정-->
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <!-- Logger  로그를 출력하는 요소 , level 속성을 통해 전달-->
    <logger name="com.study" level="DEBUG" appender-ref="console" />
    <logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog" />
    <logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog" />

    <!-- Root Logger -->
    <root level="off">
        <appender-ref ref="console" />
    </root>
</configuration>